.dynamic-image-banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-image-banner .bannerimage-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 280px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dynamic-image-banner .bannerimage-container img{
    height: 90%;
    width: 100%;
    object-fit: contain;
}


.dynamic-image-banner .bannerimage-container span{
    font-size: 16px;
    font-weight: 600;
}
