.change-pwd-component{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    padding: 20px;
    gap: 20px;
}

.pwd_input{
    border-radius: 4px !important;
    margin-left: auto;
    width: 40% ;
}

.update_pwd_row{
    display: flex;
    width: 100%;
}

.change-pwd-component .inner_section{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}


.updateBtn{
    background-color: #8C193F !important;
    color: white !important;
    border-radius: 4px;
}

.updateBtn:hover{
    color: #8C193F !important;
    background-color: white !important;
    border: 1px solid #8C193F !important;
}


@media (max-width : 650px) {
    .change-pwd-component{
        padding: 0px !important;
        padding-top: 20px !important;
    }
}

@media (max-width : 550px){

    .change-pwd-component{
        margin-top: 20px;
    }

    .update_pwd_row{
        flex-direction: column;
    }
    .pwd_input{
        width: 100%;
    }
    .change-pwd-component .inner_section{
        width: 90%;
    }
}

.getotpbtn,.getotpbtn:hover{
    width: 30%;
    background-color: white !important;
    color: #8C193F !important;
    border: 1px solid #8C193F !important;
    transition: border ease-in .1s;
}

.getotpbtn:hover{
    border: 2px solid #8C193F !important;
}