.scammer-alert-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    p{
        color: #333;
        line-height: 30px;
    }
    .acceptance-btn{
        background: #4BB54320;
        color: #4BB543;
        border: 1px solid #4BB543;
        width: 30%;
        display: flex;  
        justify-content: center;
        margin:0 auto;
    }
}